@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');/* Import google fonts */

 :root { /* Color background */
    --white-ligth: #FAF7FD; /* Var created "--white-ligth*/
    --purple: #BB99DD;
}

*{ /* Apply all elements in page */
    margin: 0 auto;
    padding: 0; /* No-larger extern or inside */
    box-sizing: border-box; /* Elements in box */
    text-decoration: none;
}
body,
html{
    font-family: "Poppins",sans-serif;
    background: var(--white-ligth); /* Call var "--white-ligth" */

}

.container{
    width: 100vw;/* Align items center */
    display: flex; /* side by side */
    
    align-items: center; /* align items in center, if they're next to each other, line up at the height!  */
    justify-content: center; /* justify content in center */
}

.container .tree-container{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}

.tree-container .avatar{
    width: 213px; /* px img figma base 213px width */
    height: 213px; /* px img figma base 213px height */

    margin-top: 1em; 
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--purple); /* border img avatar using var */
    border-radius: 50%;
}

.tree-container .avatar img{
    width: 200px; /* figma img 200px width */
    height: 200px; /*figma img 200px height */
    margin: 0 auto;
    border-radius: 50%; 
}

.tree-container .insta-user{
    margin-top: 15px;
    color: var(--purple); /* color text using var (--purple) */

}

.tree-container .links-container{
    margin-top: 15px;

    display: flex;
    flex-direction: column;

}

.links-container .links{
    margin-top: 20px;
    width: 325px;

    /* border in element */
    border: 2px solid var(--purple); 
    border-radius: 4px;

    font-size: 16px;
    font-weight: 600; 
    
    text-transform: uppercase; /* transform all text in UPPERCASE */
    text-align: center;

    padding: 12px 0; /* 12px up down and 0 left rigth */

    transition: ease 0.3s; /* effect in element whit 0.3seconds */

    color: #8945cc;
}

/* hover = mouse tracking in element */
.links-container .links:hover{
    background: var(--purple);
    color: var(--white-ligth);
}

.tree-container .socials-container{
    margin-top: 68px;

    display: grid; /* grid  */
    grid-template-columns: repeat(5, 1fr);/* template do grid = 5 * 1fr (1fr fraction) */

    gap: 29px; /* space inside icons */

}

.socials-container .social{
    transform: scale(0.9); /* scale animation */
    transition: ease 0.3s;

}
.socials-container .social:hover{
    transform: scale(1);


}