/* @import url();
 */
*{
    margin: 0 auto;
    
}

.container{
    align-items: center;
}

.foto_perfil img{
    margin: 1em;
    border-radius: 50%;
}

.links{
    display: inline-table;
    list-style: none;
    justify-content: center;
    margin: 1em;
    padding: 1em 0;

}